<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMPULSE 2026 | Odyssey of the Unbound</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    {% include "components/navbar.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include "components/footer.html" %}
    <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/effects.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>